body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.container {
    margin: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}